BasedOnStyle: LLVM
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlwaysBreakTemplateDeclarations: Yes
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IncludeBlocks:   Regroup
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Left
